/* stylesheet for VOA Metrics Dashboard website */

.jumbo-label { font-size: 35%; }
.jumbo-value { display: block; font-weight: 200; }

body > .container { margin-bottom: 30px; }

/* firefox-only hack from http://getbootstrap.com/css/#tables-responsive */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.hint { cursor: help; }

.blockhead {
	background: #00a651;
	color: #fff;
}

.table { margin-bottom: 0; }

.table > thead.blockhead > tr > th {
	border-bottom: none;
}

h2.blockhead {
	font-size: 14px;
	font-weight: 600;
	line-height: 1.42857;
	margin: 0;
    /*padding: 8px;*/
    padding: 8px 15px;
}

#voa-top-services {}

.table > thead > tr > th:first-child,
.table > tbody > tr > td:first-child {
	padding-left: 15px;
}

.table > thead > tr > th:last-child,
.table > tbody > tr > td:last-child {
	padding-right: 15px;
}

#top-facebook-post-widget {
	padding-left: 0;
	padding-right: 0;
}

/* eb additions */
.pubdate-relative {
    color:silver;
    white-space:nowrap;
}
